
<div class="row main-section dashboard">

  <!-- Left side columns -->
    <div class="col-lg-7 left-column">
        <div class="row">
        <!-- Revenue Card -->
            <div class="col-md-12">
                <div class="card info-card revenue-card">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center mb-0">Datatables</h5>
                    <nav>
                        <%= form_with url: student_list_path,  method: :post do |form| %>
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item">
                                    <%= form.label :name , 'UNIVERSITY:' %>
                                    <%= form.select :location,
                                    options_for_select((Location.all).to_a.map{ |val| [val.name,val.id] }) %>
                                </li>
                                <li class="breadcrumb-item">
                                    <%= form.label :location , 'YEAR:' %>
                                    <%= form.select :academic_year,
                                    options_for_select((AcademicYear.all).to_a.map{ |val| [val.name,val.id] }) %>
                                </li>
                                <li class="breadcrumb-item"><%= form.submit "Search Cohort", class: "student-list-seach", data: { turbo: false }%></li>

                            </ol>
                        <% end %>
                    </nav>
                    <!-- Table with stripped rows -->
                    <div class= "table-responsive" >


                    <table class="table datatable students-listing py-0  ">
                        <thead>
                        <tr>
                            <th>
                             No
                            </th>
                            <th>
                             First Name(s)
                            </th>
                            <th>Surname</th>
                            <th>ID No.</th>
                            <th data-type="date" data-format="YYYY/DD/MM">Date of Birth</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody >
                            <% @students.each_with_index do |student, index| %>
                                <%= render partial: 'student', locals: { student: student,
                                    index: index,fade_in:false } %>
                            <% end %>
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
            </div><!-- Students list -->


        </div>
    </div><!-- End Left side columns -->

  <!-- Right side columns -->
  <div class="col-lg-4 right-column" >
    <!-- Card  Section -->
        <%= render partial:"members/card_section" , locals: { member: @member, card: @card }  %>
        <%= button_tag "preview card" , id:"preview-card" ,class:"btn btn-primary my-2" %>
    <!-- Card Section -->
  </div>
  <!-- End Right side columns -->
</div>

