<div id="<%= dom_id card %>">
  <p>
    <strong>Cover:</strong>
    <%= card.cover_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= card.location_id %>
  </p>

  <p>
    <strong>Date joined:</strong>
    <%= card.date_joined %>
  </p>

  <p>
    <strong>Date of expiry:</strong>
    <%= card.date_of_expiry %>
  </p>

</div>
